# ignorar todas as chaves privadas e públicas
*.pem
02-mom-rabbitmq-promocoes/keys/*.pem

# ignorar pastas de ambiente e cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.venv/
venv/

# ignorar arquivos de sistema
.DS_Store
Thumbs.db

# ignorar configurações de IDE
.vscode/
.idea/

# ignorar logs e dados temporários do docker
*.log